---
export interface Props {
  id?: string;
  href: string;
  className?: string;
  ariaLabel?: string;
  title?: string;
  disabled?: boolean;
  blankTarget?: boolean;
}

const {
  id,
  href,
  className = "",
  ariaLabel,
  title,
  disabled = false,
  blankTarget = true,
} = Astro.props;
---

{
  disabled ? (
    <span
      id={id}
      class:list={["group flex items-center text-skin-title", className]}
      title={title}
      aria-disabled={disabled}
    >
      <slot />
    </span>
  ) : (
    <a
      id={id}
      {href}
      target={blankTarget ? "_blank" : undefined}
      rel="noopener"
      class:list={["group  flex items-center text-skin-title hover:text-skin-title", className]}
      aria-label={ariaLabel}
      title={title}
    >
      <slot />
    </a>
  )
}
