---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import type { CollectionEntry } from "astro:content";
import { Card } from "@components/Card";
import Main from "./Main.astro";
import LinkButton from "@components/LinkButton.astro";
import { ChevronLeft, ChevronUp } from "lucide-react";

export interface Props {
  xp: CollectionEntry<"work">;
}

const { xp } = Astro.props;

const {
  image,
  imageAlt,
  title,
  disclaimer,
} = xp.data;

const { Content } = await xp.render();

---

<Layout>
  <Header activeNav="work" />

  <Main>
  <div class="mx-auto flex flex-col items-center w-full max-w-4xl">
    <Card className="flex flex-col sm:py-10 sm:px-20 gap-8 items-center">
      <LinkButton
        className="self-start"
        href="/work/"
        title="back to the list"
        blankTarget={false}
      >
        <ChevronLeft/>
        Back to the list
      </LinkButton>
      <h1 class="post-title mb-4 text-center">{title}</h1>

      <img
        src={image.src}
        alt={imageAlt}
        class="h-64"
      />

      {
        disclaimer &&
        <div class="italic text-center">{disclaimer}</div>
      }

      <div class="
        content
        prose-h1:font-liu prose-h1:text-3xl prose-h1:mt-4 prose-h1:mb-2
        prose-h2:font-semibold prose-h2:text-xl prose-h2:pl-4 prose-h2:mt-2
        prose-h3:font-semibold prose-h3:text-md prose-h3:pl-4 prose-h3:mt-2
        prose-ol:list-decimal	prose-ol:pl-10 prose-ol:font-semibold prose-ol:mt-2
        prose-p:text-justify prose-p:pl-4 prose-p:font-sans
        prose-hr:my-8 prose-hr:pl-4
        ">
        <Content />
      </div>
      <LinkButton
        id="back-to-top"
        href=""
        title="back to top"
        blankTarget={false}
      >
        <ChevronUp/>
        Back to top
      </LinkButton>
  </Card>
  </div>
  </Main> 

  <Footer />
</Layout>

<style>
  main {
    @apply mx-auto w-full max-w-3xl px-4 pb-12;
  }
  .post-title {
    @apply text-xl font-aboreto;
  }
  .content {
    ol + p {
      @apply pl-6
    }
    @apply flex flex-col gap-2 
  }
</style>

<script is:inline data-astro-rerun>
  /** Create a progress indicator
   *  at the top */
  function createProgressBar() {
    // Create the main container div
    const progressContainer = document.createElement("div");
    progressContainer.className =
      "progress-container fixed bottom-0 z-50 h-1.5 w-full bg-transparent";

    // Create the progress bar div
    const progressBar = document.createElement("div");
    progressBar.className = "progress-bar h-1.5 w-0 bg-skin-dark";
    progressBar.id = "myBar";

    // Append the progress bar to the progress container
    progressContainer.appendChild(progressBar);

    // Append the progress container to the document body or any other desired parent element
    document.body.appendChild(progressContainer);
  }
  createProgressBar();

  /** Update the progress bar
   *  when user scrolls */
  function updateScrollProgress() {
    document.addEventListener("scroll", () => {
      const winScroll =
        document.body.scrollTop || document.documentElement.scrollTop;
      const height =
        document.documentElement.scrollHeight -
        document.documentElement.clientHeight;
      const scrolled = (winScroll / height) * 100;
      if (document) {
        const myBar = document.getElementById("myBar");
        if (myBar) {
          myBar.style.width = scrolled + "%";
        }
      }
    });
  }
  updateScrollProgress();

  /** Scrolls the document to the top when
   * the "Back to Top" button is clicked. */
  function backToTop() {
    document.querySelector("#back-to-top")?.addEventListener("click", () => {
      document.body.scrollTop = 0; // For Safari
      document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
    });
  }
  backToTop();

  /* Go to page start after page swap */
  document.addEventListener("astro:after-swap", () =>
    window.scrollTo({ left: 0, top: 0, behavior: "instant" })
  );
</script>
